/*
    Calimero Font
 */
@import '../bower_components/open-sans/css/open-sans.css';
* {
    font-family: "Open Sans", sans-serif;
}

body {
    margin-bottom: 1.5em;
}

/*
    Navbar customizations
 */
.navbar {
    margin-bottom: 0px;
}
.navbar-brand {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}
.navbar-static-top {
    border-width: 0 0 0px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .15);
}
.navbar-default {
    background-color: #0fb13a;
    border-color: #9c9c9c;
}
.navbar-default .navbar-brand {
    color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ffffff;
}
.navbar-default .navbar-text {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #9c9c9c;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #9c9c9c;
}
.navbar-default .navbar-toggle {
    border-color: #9c9c9c;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #9c9c9c;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ffffff;
}
.navbar-default .navbar-link {
    color: #ffffff;
}
.navbar-default .navbar-link:hover {
    color: #ffffff;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffffff;
        background-color: #9c9c9c;
    }
}

/*
    Playback
 */
.btn-group {
    width: 100%;
}
.track {
    width: 85%;
}

.control {
    width: 15%;
}
.btn-static {
    background-color: white;
    border: 1px solid lightgrey;
    cursor: default;
}
.btn-static:active {
    -moz-box-shadow:    inset 0 0 0px white;
    -webkit-box-shadow: inset 0 0 0px white;
    box-shadow:         inset 0 0 0px white;
}

 /*
    Sound selection
  */
.btn-group-vertical {
    width: 100%;
}