{{ partial "head.html" .}}
	<div class="jumbotron jumbotron-fluid jumbotron-welcome bg-blue">
		<div class="container">
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<h1 class="display-4">Léon</h1>
					<p class="lead">Design. Develop. Decide.</p>
				</div>
			</div>	
		</div>
	</div>

	<!-- Blog posts -->
	<div class="container">
	  	<div class="row">
	  		<div class="col-md-8 offset-md-2">
	  			<h2>Laatste nieuws</h2><br/>
	  		</div>
	  	</div>
	  	<div class="row">
	  		<div class="col-md-8 offset-md-2">
	  			<div class="card-deck">
	      	{{ range first 3 (where .Data.Pages "Section" "blog") }}
	      		<div class="card">
				    <img class="card-img-top" src="{{ index .Params "featured_image" }}" alt="Card image cap">
				    <div class="card-body">
				      <h5 class="card-title"><a href="{{.Permalink}}">{{.Title}}</a></h5>
				      <p class="card-text">{{.Summary}}</p>
				      <p class="card-text"><small class="text-muted">{{.Date.Format "2 January 2006"}}</small></p>
				    </div>
				 </div>
	      	{{end}}
	      </div>	
	  		</div>
	  	</div>
	</div>

	<!-- About me -->
	<div class="jumbotron jumbotron-fluid jumbotron-about">
	  	<div class="container">
	    		<div class="row">
				  <div class="col-md-5 offset-md-2">
				  	<h2>Over mij</h2>
				  	<p>Ik ben Léon. Ik studeer Informatiekunde en heb een voorliefde voor techniek, politiek en economie.</p>
				  	<a role="button" class="btn btn-secondary" href="/about/">Lees verder</a><br/><br/>
				  </div>
				  <div class="col-md-3 aboutme">
				  </div>
				</div>
	  	</div>
	</div>
{{ partial "footer.html" .}}