body {
	font-family: "Lato", sans-serif;
}

h1, h2 {
	font-weight: 500 !important;
}

h1.display-4 {
	font-size: 4em !important;
}

p.lead {
	font-weight: 300 !important;
	font-size: 2em !important;
}

.leadin {
	font-size: 1.3em;
	font-weight: 200;
}

.jumbotron-welcome {
	padding-top: 8rem;
}

.jumbotron-about {
	margin-bottom: 0 !important;
}

.bg-blue {
	background-color: #4A90E2;
	color: #fff;
}

.card-deck {
	margin-bottom: 1em;
}

.footer {
	padding: 1em;
	text-align: center;
	font-weight: 600;
}

@media (min-width: 320px) and (max-width: 768px) {
  .jumbotron-welcome {
    padding-top: 4em;
  }
}