{{ partial "head.html" .}}
<div class="container page">
	<div class="row">
			<div class="col-md-8 offset-md-2">
				<article>
					<header>
						<h1>{{ .Title }}</h1>
						<time>{{.Date.Format "2 January 2006"}}</time>
						{{ range $name := .Params.categories }}
							<span class="badge badge-pill badge-category badge-secondary"><i class="fas fa-tag"></i>{{$name}}</span>
				      	{{ end }}
					</header>	
					{{ .Content }}
				</article>
			</div>
			<div class="col-md-8 offset-md-2">
				{{ range $name := .Params.tags }}
					<span class="badge badge-pill badge-tag"><i class="fas fa-tag"></i>{{$name}}</span>
			    {{ end }}
			</div>
	</div>
</div>
{{ partial "footer.html" .}}