{{ partial "head.html" .}}
<div class="container page">
	<div class="row">
			<div class="col-md-8 offset-md-2">
				<article>
					<header>
		    			<img class="card-img-top card-img-rounded" src='{{ index .Params "cover_image"  | relURL }}' alt="Card image cap">
						<br/><br/>

						<!-- Meta -->
						<h1>{{ .Title }}</h1>
						<i class="far fa-clock"></i> <time>{{ .Date.Day }} {{ index $.Site.Data.dates (printf "%d" .Date.Month) }} {{ .Date.Year }}</time>
						{{ range $name := .Params.categories }}
							<span class="badge badge-pill badge-category badge-categories"><i class="fas fa-tag"></i>{{$name}}</span>
				      	{{ end }}

					</header>	
					<!-- Article content -->
					{{ .Content }}
				</article>
			</div>
			<br/><br/>
	</div>
	<div class="row">
		<div class="col-md-8 offset-md-2">
			<h5>Tags</h5>
			{{ range $name := .Params.tags }}
				<span class="badge badge-pill badge-tag"><i class="fas fa-tag"></i>{{$name}}</span>
		    {{ end }}
		</div>
	</div>
	<br/>
</div>
</div>
{{ partial "footer.html" .}}