{{ partial "head.html" .}}
<div class="container page">
	<div class="row">
			<div class="col-md-8 offset-md-2">
				<article>
					<header>
						<h1>{{ .Title }}</h1>
						<time>{{.Date.Format "2 January 2006"}}</time>
						<em>{{ range $name := .Params.categories }}
							- {{ $name }}
				      	{{ end }}</em>
					</header>	
					{{ .Content }}
				</article>
			</div>
			<div class="col-md-8 offset-md-2">
				Getagd: 
				{{ range $name := .Params.tags }}
						#{{ $name }}
			    {{ end }}
			</div>
	</div>
</div>
{{ partial "footer.html" .}}