body {
	font-family: "Source Sans Pro", sans-serif;
}

.navbar-brand {
	font-weight: 600;
}

h1, h3 {
	font-weight: 600 !important;
}

h2 {
	font-weight: 300 !important;
	color: #4A90E2;
	font-size: 1.75em;
}

h1.display-4 {
	font-size: 4em !important;
}

p.lead {
	font-weight: 300 !important;
	font-size: 2em !important;
}

.leadin {
	margin-top: 0.5em;
	font-size: 1.3em;
	font-weight: 200;
}

.jumbotron-welcome {
	padding-top: 4rem;
}

.jumbotron-about {
	margin-bottom: 0 !important;
}

.bg-blue {
	background-color: #4A90E2;
	color: #fff;
}

.card-deck {
	margin-bottom: 1em;
}

.footer {
/*	margin-top: 0.5em;
*/	padding: 1em;
/*	padding-top: 0.5em;
*/	border-top: solid 0.05em #e9ecef;
	text-align: center;
	font-weight: 300;
}

.page {
	margin-top: 1.5em;
}

.aboutme {
	background-image: url('/img/me.png');
	background-size: contain;
	background-position: center;
	
	background-repeat: no-repeat;
}


.nav-header {
	font-weight: bold;
	color: #000000 !important;
}

.project-select {
	margin-top: 1em;
	margin-bottom: 1em;
}

.card-body > h5 {
	margin-bottom: 0.25em;
}

.card-body > .summary {
	margin-top: 1em;
}

.projects {
	column-count: 2 !important;
}

.card-img-rounded {
	border-radius: 1em;
}

/* Blog Articles */
header {
	margin-bottom: 1em;
}

header > time {
	padding-top: 1em;
}

blockquote {
	background-color: #fafafa;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 1em;
	padding-bottom: 0.5em;
}

.badge-tag {
    padding: 1em;
    background-color: #4A90E2; 
    color: #ffffff;
}

.badge-category {
    padding: 0.50em;
}

time {
	margin-right: 1em;
}

.fas {
    margin-right: 0.2em;
}

.badge-categories {
	color: #6c757d;
	border: 1px solid #6c757d;
	background-color: #ffffff;
}

@media (min-width: 320px) and (max-width: 768px) {
  .jumbotron-welcome {
    padding-top: 4em;
  }
}