	<!-- Footer -->
    <div class="container footer">
    	<div class="row">
    		<div class="col-md-6">
    			<span style="font-weight: 600; color: #1c61b1;">Léon</span> {{ replace .Site.Copyright "{year}" now.Year }}
    		</div>
            <div class="col-md-6">
                  {{ range .Site.Menus.footer }}
                      <a class="" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a> 
                  {{ end }}
            </div>
    	</div>
    </div>

    </main><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="{{ "/js/bootstrap.min.js" | absURL}}" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>