<!doctype html>
<html lang="nl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">

    <title>Léon Melein</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | absURL }}" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ "/css/app.css" | absURL }}" rel="stylesheet">
    <meta name="theme-color" content="#4a90e2">
    <link rel="icon" type="image/png" sizes="72x72" href="/icns/icon-72x72.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/icns/icon-96x96.png">
    <link rel="icon" type="image/png" sizes="128x128" href="/icns/icon-128x128.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/icns/icon-192x192.png">
    <link rel="apple-touch-icon" href="/icns/icon-96x96.png">

  </head>

  <body>
    {{ partial "header.html" .}}
    <main role="main">
