<nav class="navbar navbar-expand-md navbar-dark bg-blue">
  <a class="navbar-brand" href="{{ "" |absURL}}">{{.Site.Title}}</a>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse" id="navbarsExampleDefault" style="">
    <ul class="navbar-nav ml-auto">
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
      <li class="nav-item 
        {{ if eq $currentPage.URL .URL }}active{{ end }}
        {{ if eq $currentPage.Params.parent .URL }}active{{ end }}
        ">
          <a class="nav-link" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
        </li>
      {{ end }}
    </ul>
  </div>
</nav>