:root {
  --brand-color: #0090E2;
  --text-color: #212427;
  --bg-color: #ffffff;
  --surface-bg-color: rgba(0,0,0,0.03);
  --menu-link-color: #525353;
  --menu-active-color: #212427;
  --category-color: #585858;
}
* {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

p {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    
    img {
        border-radius: 0.5em;
    }
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
  margin: 0;
}

header {
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding-left: 1em;
    padding-right: 1em;

    .navbar-content{
        max-width: 1024px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        align-items: center;
    }

  .site-title {
    display: inline-block;
    color: var(--brand-color);
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 2em;
    letter-spacing: -0.05em;

    a {
        font-family: "Source Sans 3", Arial;
    }
  }   

  nav {
    display: inline-block;
    text-align: right;
    font-size: 1.2em;

    ul {
        padding-inline-start: 0;
        
        :last-child {
        padding-inline-end: 0rem;
        }
    }


    li {
        display: inline-block;
        padding-inline-end: 1rem;

        a {
            font-family: "Source Sans 3", Arial;
            color: var(--menu-link-color);
        }

        a.active {
            font-weight: 500;    
            color: var(--menu-active-color);
        }
    }
  }
  @media (max-width: 768px) {
   .navbar-content {
     grid-template-columns: repeat(1, 1fr);
     margin-top: 1em;
     margin-left: 1em;
     margin-right: 1em;
   }

   .header {
    margin-bottom: 1em;
   }

   nav {
    text-align: left;
    margin-top: 0.5em;
   }

   ul {
    all: unset;
   }

  }   
}

main {
    margin: auto;
    padding-left: 1em;
    padding-right: 1em;
    max-width: 1024px;
    min-height: 80vh;

    ul {
        line-height: 1.5lh;
    }
}

@media (max-width: 768px) {
    main {
        padding-left: 2em;
        padding-right: 2em;
    }

    h1.site-title {
        margin-left: 0.5em;
    }
}


a {
  color: #0090E2;
  text-decoration: none;
}

img {
    max-width: 100%;
}

article > ul {
    line-height: 1.5lh;
}

p {
    line-height: 1.5;
}

h1, h2, h3 {
    font-family: "Source Sans 3", Arial;
    margin-block-start: 0.5em;
    margin-block-end: 0em;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}

article.news-article {
    p:first-of-type {
        font-size: 1.2rem;
        font-weight: 300;
    }
    h1 {
        margin-block-start: 0.5em;
        margin-block-end: 0.5em;
    }

    max-width: 768px;
    margin: auto;
}

article.page {
    /* p:first-of-type {
        font-size: 1.2rem;
        font-weight: 300;
    } */
    h1 {
        margin-block-start: 0.5em;
        margin-block-end: 0.5em;
    }

    max-width: 768px;
    margin: auto;
}

time {
    display: block;
    margin-bottom: 1em;
}

blockquote {
    background-color: #e9e9e9;
    margin: 0;
    padding-inline-start: 2rem;
    padding-inline-end: 2rem;
    padding-block-start: 1rem;
    padding-block-end: 1rem;
}

.category-list {
    padding-inline-start: 0;

    .category {
        display: inline-block;
        margin-inline-end: 1em;
    }
}

.terms-container {
    background-color: var(--surface-bg-color);
    padding: 1rem;
    border-radius: 1rem;

    .terms-label {
        margin: 0;
        font-size: 1.3rem;
    }
}

.tag-list {
    padding-inline-start: 0;
    line-height: 1lh;
    margin: 0;

    .tag {
        display: inline-block;
        margin-inline-end: 1em;
        /* border: 1px solid lightgrey; */
        border-radius: 2rem;
        /* padding-left: 0.5rem; */
        padding-right: 0.5rem;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
    }
}


.brand-name {
    font-weight: bold;
    font-family: "Source Sans 3", Arial;
    color: var(--brand-color)
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    margin-top: 1rem;
    margin-bottom: 1rem;

    h2 {
        min-height: 2rem;
        margin-block-start: 0.7rem;
    }

    p {
        margin-top: 0.5rem;
    }

    .project-item {
        background-color: rgba(0,0,0,0.02);
        padding-bottom: 0.5rem;
        border-radius: 1rem;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.02);

        li.category {
            background-color: rgba(0,0,0,0.1);
            padding: 0.125rem 0.25rem 0.125rem 0.25rem;
            border-radius: 0.5rem;
            font-size: 0.9rem;
        }

        a > img {
            border-radius: 0.5em 0.5em 0 0;
        }

        .project-card-content {
            padding: 1em;
            padding-top: 0.5em;
        }
    }
}

.news-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    margin-top: 1em;
    margin-bottom: 1em;

    h2 {
        min-height: 3rem;
        margin-block-start: 0.5rem;
        margin-block-end: 0.3rem;
        line-height: 1.2lh;
    }

    .news-item {
        background-color: var(--surface-bg-color);
        padding-bottom: 0.5rem;
        border-radius: 1rem;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.02);
        
        ul {
            margin: 0;
            line-height: 1lh;
        }

        li.category {
            font-size: 0.9rem;
            line-height: 1lh;
            
            a {
                color: var(--category-color);
            }
        }

        a > img {
            border-radius: 0.5em 0.5em 0 0;
        }

        .news-card-content {
            padding: 1em;
            padding-top: 0.5em;
        }
    }
}

footer {
    margin: auto;
    margin-top: 1rem;
    padding-top: 1rem;
    padding-left: 1em;
    padding-right: 1em;
    background-color: var(--brand-color);
    color: white;

    .brand-name {
        color: white;
        margin: 0;
        font-size: 1.3rem;
    }

    .copyright {
        margin-bottom: 0;
        margin-top: 0.25em;
    }

    nav {
        display: inline-block;

        ul {
            padding-inline-start: 0;
            
            :last-child {
            padding-inline-end: 0rem;
            }
        }
        
        li {
            display: inline-block;
            padding-inline-end: 1rem;
            font-size: 0.9rem;
            color: var(--menu-link-color);
            a {
                color: white;
                /* color: rgba(0, 0, 0, 0.5); */
            }
        }

        
    }   
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .news-grid, .project-grid {
        grid-template-columns: repeat(1, 1fr);

        h2 {
            line-height: 1.3lh;
        }
    }

    
}
