:root {
  --brand-color: #0090E2;
  --text-color: #212427;
}
* {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  color: var(--text-color);
  font-family: sans-serif;
  line-height: 1.5;
  margin: 0;
  /* margin: 1rem; */
}

header {
    margin: auto;
    margin-bottom: 2rem;
    padding-left: 1em;
    padding-right: 1em;
    background-color: var(--brand-color);

    .navbar-content{
        max-width: 768px;
        margin: auto;
    }

  .site-title {
    display: inline-block;
    margin-block-start: 0;
    margin-block-end: 0;
    color: white;
    font-size: 1.2em;

    a {
        color: white;
    }
  }   

  nav {
    display: inline-block;

    li {
        display: inline-block;
        padding-inline-end: 1rem;
        a {
            color: white;
        }
    }
  }   
}

main {
    margin: auto;
    padding-left: 1em;
    padding-right: 1em;
    max-width: 768px;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
  margin: auto;
  padding-left: 1em;
  padding-right: 1em;
  max-width: 768px;
}

a {
  color: #0090E2;
  text-decoration: none;
}

img {
    max-width: 100%;
}

blockquote {
    background-color: #e9e9e9;
    margin: 0;
    padding-inline-start: 2rem;
    padding-inline-end: 2rem;
    padding-block-start: 1rem;
    padding-block-end: 1rem;
}

.category-list {
    padding-inline-start: 0;

    .category {
        display: inline-block;
        margin-inline-end: 1em;
    }
}

.brand-name {
    font-weight: bold;
    color: var(--brand-color)
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 1em;
    grid-row-gap: 1em;
}

.news-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 1em;
    grid-row-gap: 1em;

    h2 {
        min-height: 4rem;
    }
}