{{ define "main" }}
  <h1>Projecten</h1>
  {{ .Content }}
  <div class="project-grid">
    {{ range .Pages }}
    <div class="project-item">
        <a href="{{ .RelPermalink }}">
            <img src='{{ index .Params "featured_image" | relURL }}' alt="{{ .LinkTitle }}" loading="lazy" />
        </a>
        <div class="project-card-content">
            <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
            <p>{{ .Summary }}</p>
        </div>
    </div>
    {{ end }}
  </div>
{{ end }}
