{{ define "main" }}
  {{ .Content }}
  <div class="news-grid">
    {{ range (where .Site.RegularPages "Section" "blog") }}
    <div class="news-item">
        <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
        <a href="{{ .RelPermalink }}">
            <img src='{{ index .Params "featured_image" | relURL }}' alt="{{ .LinkTitle }}" />
        </a>
        {{ partial "categories.html" (dict "taxonomy" "categories" "page" .) }}

        <p>{{ .Summary }}</p>
    </div>
    {{ end }}
  </div>
{{ end }}
