{{ define "main" }}
<div class="container">
    <h1>{{ .Title }}</h1>
    {{ .Content }}
    <div class="grid">
        {{ range .Pages }}
        <div class="item">
            <a href="{{ .RelPermalink }}">
                <img src='{{ index .Params "featured_image" | relURL }}' alt="{{ .LinkTitle }}" loading="lazy">
            </a>
            <div class="card-content">
                {{ partial "categories.html" (dict "taxonomy" "categories" "page" .) }}
                <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
                <p>{{ .Summary }}</p>
            </div>
        </div>
        {{ end }}
    </div>
</div>
{{ end }}
